body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

* {
    box-sizing: border-box;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    padding: .5rem;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: rgba(149, 181, 185, 0.3);
    font-size: .85rem;
}