.todo-items {
    padding: 0; 
}

.todo-items li {
    width: 100%;
    padding: 15px;
    float: left;
    list-style: none;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 5px;
}

.todo-items input[type="checkbox"] {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    opacity: .8;
}

.todo-items__done {
    text-decoration: line-through;
    color: rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, .4) !important;
}